html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body{
  min-width: 1280px;
  min-height: 1286px;
}

a{
  text-decoration: none;
}

body{
  font-family: 'PT Sans', sans-serif;
  line-height: 24px;
  font-size: 13px;
}

.main-header{
  background-color: #f4f7f9;
  margin-bottom: 60px;
}

.upper-header{
  background-color: #293449;
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 17px;
}

.header-container{
  display: flex;
  border: 1px solid red;
}

.container{
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo{
  display: inline-block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0 0 #cc3333 ;
          box-shadow: 0px 5px 0 0 #cc3333 ;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.logo:hover{
  background-color: #ca2c37;
}

.logo:active{
  background-color: #ba2732;
  opacity: 0.5;
}

.logo-img{
  width: 110px;
  height: 18px;
}

.header-search{
  width: 220px;
  background-color: #293449;
  border-style: none;
  -webkit-appearance: textfield;
  margin-left: 25px;
  padding: 11px 0;
}

.user-purchase{
  padding-left: 38px;
  padding-right: 38px;
}

.header-search:hover,
.user-goods__item:hover{
  background-color: #212a3a;
}

.user-goods__item:active{
  background-color: #161d29;
  opacity: 0.5;
}

.header-search:focus{
  background-color: #ffffff;
}

.titles{
  font-family: 'Cuprum', sans-serif;
  line-height: 30px;
  font-size: 30px;
}
.user-goods{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.user-goods__item{
  padding-top: 12px;
  padding-bottom: 11px;
}

.user-goods a{
  color: #ffffff;
}

.header-purchase{
  background-color: #63a63e;
}

.header-purchase:hover{
  background-color: #5fbb2d;
}

.header-purchase:active{
  background-color: #518534;
  opacity: 0.5;
}

.bottom-header{
  font-family: 'Cuprum', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 60px;
  margin: 0 240px 0 260px;
}

.user-interface{
  display: flex;
  list-style: none;
  text-align: center;
}

.user-interface__item{
  padding-right: 10px;
}

.user-actions{
  padding: 15px 25px;
  line-height: 21px;
  font-size: 21px;
  color: #000000;
  background-color: #fff;
}

.header-title{
  width: 196px;
  margin: 0;
  line-height: 23px;
  font-size: 16px;
  color: #ef505b;
}

.contacts-information{
  height: 110px;
}

.contacts-information .header-phone{
  box-sizing: inherit;
  display: inline-block;
  margin: 0;
  padding: 12px 52px;
  line-height: 21px;
  font-size: 21px;
  color: #ef505b;
  border: 2px solid #fff;
}

.contacts-information .header-address{
  margin-bottom: 44px;
  line-height: 24px;
  font-size: 14px;
  color: #32425c;
}

.user-actions:hover{
  color: #ee3643;
}

.user-actions:active{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation{
  width: 100%;
  line-height: 17px;
  font-size: 17px;
}

.main-navigation-container{
  background-color: #32425c;
  width: 940px;
}

.main-navigation ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-navigation a{
  display: inline-block;
  color: #ffffff;
  padding: 22px 30px;
}

.about-us{
  display: flex;
  justify-content: space-between;
  padding: 80px 130px;
}

.about-us .titles{
  text-transform: uppercase;
}

.information-container{
  width: 520px;
}
.information-container h2{
  margin-bottom: 28px;
}
.slogan{
  margin-top: 0;
  margin-bottom: 24px;
}
.our-opportunities{
  width: 400px;
  margin-top: 0;
  margin-bottom: 22px;
}
.information-container li{
  padding-bottom: 20px;
}
.information-container_list{
  font-family: 'Cuprum', sans-serif;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 24px;
}

.btn-info{
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  width: 220px;
  padding: 11px 40px;
  line-height: 18px;
  font-size: 14px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-container h2{
  margin-bottom: 28px;
}

.contact-container p{
  width: 180px;
  margin-top: 0;
  margin-bottom: 32px;
}
.contact-map{
  margin-bottom: 40px;
}

.btn-send{
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  width: 300px;
  padding: 10px 0;
  line-height: 18px;
  font-size: 14px;
}

.main-footer{
  background-color: #32425c;
}

.top-footer{
  display: flex;
  flex-wrap: wrap;
}

.bottom-footer{
  background-color: #293449;
}

.top-footer-container{
  width: 330px;
  margin-left: 130px;
}

.bottom-logo{
  width: 220px;
  height: 68px;
  margin-bottom: 30px;
  padding: 20px 0;
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 130px;
}

.upper-footer-navigation{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 42px;
}

.footer-contacts{
  margin-bottom: 55px;
}

.footer-contacts,
.upper-footer-navigation a{
  color: #ffffff;
  font-family: 'Cuprum', sans-serif;
  line-height: 24px;
  font-size: 18px;
}

.upper-footer-navigation a:hover{
  text-decoration: underline;
}

.upper-footer-navigation a:active{
  opacity: 0.5;
  text-decoration: none;
}

.bottom-footer-navigation{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.bottom-footer-navigation a{
  font-family: 'Cuprum', sans-serif;
  line-height: 24px;
  font-size: 18px;
  color: #ffd180;
}

.bottom-footer-navigation a:hover{
  text-decoration: underline;
}

.bottom-footer-navigation a:active{
  opacity: 0.5;
  text-decoration: none;
}

.bottom-info{
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 16px;
  color: #ffffff;
}

.our-mail{
color: #ffffff;
}

.our-mail a{
  color: #ffd180;
}

.our-mail a:hover{
  text-decoration: underline;
}

.our-mail a:active{
  text-decoration: none;
  color: #ee3643;
}

.footer-address{
  color: #ffffff;
}

.footer-address a{
  color: #ffd180;
}

.footer-address a:hover{
  text-decoration: underline;
}

.footer-address a:active{
  text-decoration: none;
  color: #ee3643;
}

.user-name{
  line-height: 21px;
  font-size: 21px;
  background-color: #fff;
  color: #000000
}

.user-name:active{
  color: rgba(0, 0, 0, 0.3);
}

.user-interface-catalog a{
  line-height: 18px;
  font-size: 16px;
  color: #32425c;
}

.user-interface-catalog a:hover{
  color: #ee3643;
}

.user-interface-catalog a:active{
  color: rgba(50, 66, 92, 0.3);
}

.section-navigation{
  line-height: 18px;
  font-size: 13px;
}

.drill-title{
  text-transform: uppercase;
  background-color: #f2f6f8
}

.manufacturer-title{
  font-family: 'PT Sans', bold;
  line-height: 30px;
  font-size: 17px;
}

.manufacturer ul{
  line-height: 20px;
  font-size: 15px;
}

.powertype{
  line-height: 20px;
  font-size: 15px;
}

.btn-show{
  line-height: 18px;
  font-size: 13px;
}

.product-name{
  font-family: 'PT Sans', bold;
  line-height: 20px;
  font-size: 18px;
}

.product-prices{
  font-family: 'PT Sans', bold;
  line-height: 18px;
  font-size: 17px;
}

.old-price{
  text-decoration: line-through;
  color: #999999;
}

.product a{
  display: none;
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 14px;
}

.product .basket{
  color: #fff;
}

.product .bookmarks{
  color: #32425c;
}

.main-navigation a:hover{
  background-color: #293449;
}

.main-navigation a:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.user-info-popup{
  display: none;
}

.popup-map{
  display: none;
}

.catalog-popup{
  display: none;
}
