html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


a {
  text-decoration: none;
}


.ulres {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button{
  display: inline-block;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  width: 220px;
  padding: 11px 40px;
  line-height: 18px;
  font-size: 14px;
}

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 24px;
  font-size: 13px;
}

.main-header {
  background-color: #f4f7f9;
}

.upper-header {
  background-color: #293449;
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 17px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0 0 #c33;
  box-shadow: 0px 5px 0 0 #c33;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo-img {
  width: 110px;
  height: 18px;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17px;
  width: 17px;
  height: 17px;
  color: #fff;
}


.header-search {
  background-color: #293449;
  border-style: none;
  -webkit-appearance: textfield;
  margin-left: 25px;
  padding: 11px 0;
  padding-left: 49px;
  margin-left: 0;
  width: 270px;
}

.header-search::-webkit-search-cancel-button {
  display: none;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search:focus + .search-icon {
  color: #ee3643;
}

.user-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.header-search:focus {
  background-color: #fff;
}

.titles {
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 30px;
}

.user-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.user-goods a {
  color: #fff;
}

.user-item {
  position: relative;
  display: inline-block;
  padding: 12px 33px 12px 44px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}
.user-item:hover::before {
  opacity: 1;
}
.user-item::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 17px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.user-item-bookmark::before {
  background-image: url('../img/icons/icon-bookmark.svg');
  background-size: 14px 16px;
}
.user-item:hover {
  background-color: #212a3a;
}
.user-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.user-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #63a63e;
}

.user-item-cart::before{
  background-image: url('../img/icons/icon-cart.svg');
  left: 12px;
  background-size: 15px 15px;
}

.user-item-catalog{
  padding: 12px 30px 12px 44px;
}

.user-item-cart{
  background-color: #ee3643;
}

.user-button:hover{
  background-color: #5fbb2d;
}

.user-button:active{
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.bottom-header {
  font-family: 'Cuprum', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 60px;
}

.user-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
}

.header-title {
  font-family: 'Cuprum', sans-serif;
  font-style: italic;
  font-weight: normal;
  width: 200px;
  margin: 0 0 0 52px;
  line-height: 23px;
  font-size: 16px;
  -ms-flex-item-align: center;
      align-self: center;
  color: #ef505b;
}

.contacts-information{
  margin-left: 60px;
  margin-right: 19px;
  margin: 0 auto;
}

.header-phone::before{
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 13px;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
}

.header-phone-icon::before{
  background-image: url('../img/icons/icon-phone.svg');
  background-size: 19px 19px;
}

.contacts-information .header-phone {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 11px 50px 9px 72px;
  line-height: 21px;
  font-size: 21px;
  font-style: normal;
  color: #ef505b;
  border: 2px solid #fff;
}

.contacts-information .header-address {
  margin: 5px 0 0 9px;
  line-height: 24px;
  font-size: 14px;
  color: #32425c;
}

.user-actions {
  display: inline-block;
  line-height: 21px;
  font-size: 21px;
  color: #000;
  background-color: #fff;
}

.user-login{
  position: relative;
 padding: 12px 26px 11px 48px;
 margin-right: 10px;
}

.user-login::before{
  content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    width: 20px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.user-icon-login::before{
  background-image: url('../img/icons/icon-login.svg');
  background-size: 20px 17px;
}

.user-registration{
  padding: 12px 22px 11px 24px;
}

.user-actions:hover {
  color: #ee3643;
}

.user-actions:active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  margin-top: 37px;
  width: 100%;
  line-height: 17px;
  font-size: 17px;
  background-color: #32425c;
}

.main-navigation-container {
  background-color: #32425c;
  width: 940px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-navigation a {
  display: inline-block;
  color: #fff;
  padding: 22px 30px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 85px;
}

.about-us .titles {
  text-transform: uppercase;
  margin-bottom: 26px;
}

.information-container {
  width: 520px;
}

.slogan {
  margin-top: 0;
  margin-bottom: 24px;
}

.our-opportunities {
  width: 400px;
  margin-top: 0;
  margin-bottom: 21px;
}

.information-container li {
  position: relative;
  list-style: none;
  padding-bottom: 20px;
}

.information-container li:last-child{
  padding-bottom: 0;
}

.information-container-list {
  font-family: 'Cuprum', sans-serif;
  line-height: 20px;
  font-size: 18px;
  padding-left: 36px;
  margin-bottom: 37px;
}

.list-icon::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  background: #FB565A;
  left: -36px;
  top: 9px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.contact-container h2 {
  margin-bottom: 28px;
}

.contact-container p {
  width: 180px;
  margin-top: 0;
  margin-bottom: 32px;
}

.contact-map {
  margin-bottom: 40px;
}

.btn-send {
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  width: 300px;
  padding: 10px 0 10px 4px;;
  line-height: 18px;
  font-size: 14px;
}

.main-footer {
  background-color: #32425c;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.bottom-footer {
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 16px;
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 31px;
}

.bottom-footer-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.bottom-logo {
  width: 220px;
  height: 60px;
  margin-bottom: 35px;
  padding: 20px 0;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 38px;
  padding-left: 62px;
}

.upper-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.footer-contacts {
  margin: 0 0 0 3px;
}

.footer-contacts,
.upper-footer-navigation a {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  line-height: 24px;
  font-size: 18px;
}

.upper-footer-navigation a:hover {
  text-decoration: underline;
}

.upper-footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.bottom-footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 33px;
  margin-left: 24px;
}

.bottom-footer-navigation a {
  font-family: 'Cuprum', sans-serif;
  line-height: 24px;
  font-size: 18px;
  color: #ffd180;
}

.bottom-footer-navigation a:hover {
  text-decoration: underline;
}

.bottom-footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.bottom-info {
  width: 230px;
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
}

.our-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 162px;
  margin-right: 119px;
}

.our-social li:not(:last-child) {
  margin-right: 4px;
}

.social-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #ee3643;
}

.our-socials-vk {
  background-image: url('../img/icons/icon-vk.svg');
}

.our-socials-fb {
  background-image: url('../img/icons/icon-fb.svg');
}

.our-socials-inst {
  background-image: url('../img/icons/icon-insta.svg');
}

.our-mail {
  margin: 0;
  width: 135px;
  color: #fff;
}

.our-mail a {
  color: #ffd180;
}

.our-mail a:hover {
  text-decoration: underline;
}

.our-mail a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-address {
  margin-right: 10px;
  margin-left: 53px;
  font-style: normal;
  width: 100px;
  color: #fff;
}

.footer-address a {
  color: #ffd180;
}

.footer-address a:hover {
  text-decoration: underline;
}

.footer-address a:active {
  text-decoration: none;
  color: #ee3643;
}

.catalog-section{
  padding-top: 20px;
}

.user-block{
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 5px;
}

.user-name {
  padding: 14px 69px 11px 47px;
  line-height: 21px;
  font-size: 21px;
  background-color: #fff;
  color: #000
}

.user-icon{
  position: relative;
}

.user-icon::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 18px;
  background-image: url('../img/icons/icon-user.svg');
  background-repeat: no-repeat;
  left: 13px;
}

.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block button{
  border: none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  right: 10px;
  background-image: url('../img/icons/icon-logout.svg');
  background-repeat: no-repeat;
}

.user-interface-catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-interface-catalog li{
  margin-left: 25px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.user-interface-catalog li:last-child{
  list-style-type: disc;
}

.user-interface-catalog a {
  line-height: 18px;
  font-size: 16px;
  color: #32425c;
}

.user-interface-catalog a:hover {
  color: #ee3643;
}

.user-interface-catalog a:active {
  color: rgba(50, 66, 92, 0.3);
}

.section-navigation ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 18px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-navigation-list li:not(:first-child){
  margin-left: 40px;
}

.section-navigation-list li:first-child{
  margin-left: 55px;
}

.navigation-icon::before{
  position: absolute;
  content: '';
  width: 8px;
  height: 12px;
  background-image: url('../img/icons/icon-right-small.svg');
  background-repeat: no-repeat;
  left: 25px;
}

.sidebar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
}

.filter{
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0 15px 18px;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.price-filter{
  width: 220px;
  margin-bottom: 25px;
}

.price-filter-title{
  line-height: 30px;
  font-size: 17px;
  text-transform: uppercase;
}

.range-controls{
  position: relative;
  height: 80px;
  margin: 14px 0 10px;
  padding: 0 30px;
  background-color: #f7f3ec;
  overflow: hidden;
}

.toggle{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.min-price-toggle{
  left: 21px;
}

.max-price-toggle{
  left: 161px;
}

.scale{
  height: 2px;
  margin-top: 39px;
  background-color: #d7dcde;
}

.back-scale{
  width: 87%;
  height: 2px;
  background-color: #00ca74;
}

.min-price{
  width: 85px;
  padding: 8px 2px 10px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.max-price{
  width: 85px;
  padding: 8px 2px 10px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.min-price+span{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
}

.line{
  width: 220px;
  height: 1px;
  margin-bottom: 25px;
  background-color: #d7dcde;
}

.drill-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f6f8
}

.manufacturer-title {
  font-family: 'PT Sans', bold;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 20px;
}

.manufacturer ul {
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 25px;
}

.manufactur-check li{
  text-transform: uppercase;
  padding-bottom: 20px;
}

.check{
  padding-left: 30px;
}

.check-input{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox{
  position: absolute;
  margin-left: -30px;
  width: 27px;
  height: 23px;
  background-image: url(../img/filter/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-input:checked + .checkbox{
  background-image: url(../img/filter/checkbox-on.svg);
}

.test{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manufactur-radio li{
  text-transform: uppercase;
  padding-bottom: 16px;
}

.power-title{
  margin-bottom: 20px;
}

.powertype {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 75px;
}

.power-items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.power{
  padding-left: 30px;
}

.power-item{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-button{
  position: absolute;
  margin-left: -30px;
  width: 25px;
  height: 25px;
  background-image: url(../img/filter/radio-off.svg);
  background-repeat: no-repeat;
}

.power-item:checked + .radio-button{
  background-image: url(../img/filter/radio-on.svg);
}

.btn-show {
  width: 140px;
  height: 38px;

  background-color: inherit;

  line-height: 18px;
  font-size: 13px;
}

.navbar{
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.navbar-items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 18px;
}

.navbar-sort{
  margin: 0;
  padding: 0;
}

.navbar-items a{
  color: #000;
  opacity: 0.3;
}

.navbar-items li:nth-child(3){
  margin-right: 65px;
}

.navbar-items .navbar-active{
  color: red;
  opacity: unset;
  margin-left: 140px;
  margin-right: 70px;
}

.catalog-items {
  font-size: 0;
  padding: 0;
  width: 700px;
  margin: 20px 0 20px 40px;
}

.catalog-items .row {
  margin-left: -20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/products/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}
.page-navigation{
  margin-left: 20px;
  margin-bottom: 40px;
}

.page-navigation-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-navigation-list li:not(:first-child){
  padding-left: 10px;
}

.page-navigation-item{
  width: 38px;
  height: 38px;
  background-color: inherit;
  cursor: pointer;
}

.page-navigation-item-first{
  width: 38px;
  height: 38px;
  background-color: #ee3643;
  cursor: pointer;
}

.page-navigation-next{
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  background-color: inherit;
  cursor: pointer;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.product-info{
  padding: 67px 130px 73px 130px;
  background-color: #f4f7f9;
}

.info-title{
  margin-bottom: 35px;
}

.information{
  margin: 0;
}

.user-info-popup {
  display: none;
}

.popup-map {
  display: none;
}

.catalog-popup {
  display: none;
}
